@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
body{
    background-color: #31a9e2;
    font-family: 'Catamaran', sans-serif;
}

.display, .main, .logout{
    display: flex;
}

.display{
    margin-top: 20px;
    flex-direction: column;
}

.main {
    flex-direction: column;
    align-items: center;
}

.main > * {
    margin-bottom: 30px;
}

.logout{
    justify-content: flex-end;
    margin-right: 20px;
}

.button, select {
    height: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    font-family : inherit;
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 5px;
    transition: .5s ease-out;
}


.button{
    min-width: 10rem;
    margin-right: 10px;
}

.settings{
    justify-content: flex-end;
    height: 3rem;
    width: 3rem;
    background: transparent;
    position:absolute;
    border: 0px solid #000;
    border-radius: 50%;
    top:  -90px;
    right: 15px;
    transition: .2s ease-out;
}

.settings i{
    color: #fff;
    font-size: 2rem;
}


.settings:hover{
    background-color: rgba(0,0,0,0.2);
}

.exit{
    top: -70px;
}


select {
    width: 15rem;
}


option {
    color: #31a9e2;
}

.button:hover, select:hover{
    background: #fff;
    color: #31a9e2;
}

table{
    margin-left:auto;
    margin-right:auto;
}

h1 h4{
    font-size: 12px;
}

.custom {
    height: 12rem;
    width: 12rem;
    margin-bottom: 40px;
}

#teamname {
  position: absolute;
  top: -115px;
  left: 30px;
}

h7 {
   position:relative; 
   left: 825px;
}

button {
border:none;
outline:none;
}
.colors {
   margin-bottom: 40px;
}


.color {
   font-size: 0px;
   min-width: 30px;
   min-height: 30px;
   margin: 0 20px 0 20px;
   border-radius: 50%;
   border: 5px solid white;
   zoom: 1;
   transition: .5s ease-out;
}

.color:hover {
   border: 1px solid white;
   zoom: 1.5;
   background-color: white;
   
}

.lightblue{
   background-color: #31a9e2;
}

.red{
   background-color: red;

}

.yellow{
   background-color: #ffcd46;

}

.mint{
   background-color: #92ff67;

}

.pink {
   background-color: pink;

}

.blue{
   background-color: blue;
}

.purple{
   background-color: purple;
}

.orange{
   background-color: orange;
}

.indigo{
   background-color: indigo;
}

body {
  /*background-color: lightblue;*/
  color: white;
  /*font-family: Avantgarde, sans-serif;*/
  font-weight: bold;
  text-align: center;
  position:relative; 
  top: 80px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
}
